body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-side-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.preview-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zoom {
  transition: transform 0.2s;
  cursor: pointer;
}

.zoom:hover {
  transform: scale(1.05);
}

.zoom:hover .hover-overlay {
  opacity: 1;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s ease;
  background: rgba(255, 255, 255, 0.7);
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ws-pre-wrap {
  white-space: pre-wrap;
}

.gh-footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
}
